html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  height: 100%;
  width: 850px;
}

nav a {
  color: ButtonText;
}

nav a[aria-current] {
  background: ButtonText;
  color: Canvas;
}

pre {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0.25em 0.65em;
  border-radius: 0.2rem;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.25em 0.65em;
  text-align: left;
}
